* {
    box-sizing: border-box;
    height: inherit;
}

[class*="col-"] {
    width: 100%;
    float: left;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.desktop-nav {
    display: none;
}

.navbar {
    height: 60px;
}

.nav-logo {
    border: inset 10px transparent;
}

section:not(:first-child) {
    padding: 40px 0;
}

.arrow-down {
    background: url(../img/vectors/arrow-down.svg) no-repeat;
    width: 30px;
    right: 0;
    height: 40px;
    background-size: 60px;
    background-position: center;
    position: absolute;
    margin-top: 90vh;
    margin-right: 25px;
    z-index: 2;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.newsletter-form .mail, .newsletter-form button {
    width: 100%;
    display: block;
}

@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 5px); }
    100%   { transform: translate(0, -0px); }   
}

@media only screen and (min-width: 768px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    .desktop-nav {
        display: block;
    }

    .navbar {
        height: 80px;
    }

    section:not(:first-child) {
        padding: 60px 0;
    }

    .nav-logo {
        border-width: 15px;
    }

    .mobile-menu {
        display: none;
    }

    .accordion {
        overflow: hidden;
        display: flex;
    }

    .accordion-item:hover {
        flex-basis: 50%;
    }

    .accordion-item > .accordion-overlay .accordion-container {
        opacity: 0;
        transition: opacity .15s ease-in;
    }

    .active .accordion-overlay, .accordion-item:hover .accordion-overlay {    
        background: linear-gradient(to bottom, transparent 20%, rgba(168, 124, 126, 0.8) 100%);
    }

    .accordion-item.active .accordion-overlay .accordion-container, 
    .accordion-item:hover > .accordion-overlay .accordion-container {
        opacity: 1;
        transition: opacity .15s ease-in;
    }

    .accordion-item.active {
        flex-basis: 50%;
    }

    .mobile-navbar {
        display: none;
    }

    .arrow-down {        
        width: 50px;
        height: 40px;
        background-size: 100px;
    }

    .newsletter-form button {
        width: 25%;
    }

    .newsletter-form .mail {
        width: 75%;
    }
}